<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SODAM CINE</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#da532c">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/scss/sample.min.css">
</head>
<body>
    <header id="header">
        <div class="container">
            <h1><a href="#">LOGO</a></h1>
            <nav>
                <ul class="depth-01">
                    <li>
                        <a href="#">대메뉴1</a>
                        <ul class="depth-02">
                            <li><a href="#">소메뉴1</a></li>
                            <li><a href="#">소메뉴2</a></li>
                            <li><a href="#">소메뉴3</a></li>
                            <li><a href="#">소메뉴4</a></li>
                            <li><a href="#">소메뉴5</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">대메뉴2</a>
                        <ul class="depth-02">
                            <li><a href="#">소메뉴1</a></li>
                            <li><a href="#">소메뉴2</a></li>
                            <li><a href="#">소메뉴3</a></li>
                            <li><a href="#">소메뉴4</a></li>
                            <li><a href="#">소메뉴5</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">대메뉴3</a>
                        <ul class="depth-02">
                            <li><a href="#">소메뉴1</a></li>
                            <li><a href="#">소메뉴2</a></li>
                            <li><a href="#">소메뉴3</a></li>
                            <li><a href="#">소메뉴4</a></li>
                            <li><a href="#">소메뉴5</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">대메뉴4</a>
                        <ul class="depth-02">
                            <li><a href="#">소메뉴1</a></li>
                            <li><a href="#">소메뉴2</a></li>
                            <li><a href="#">소메뉴3</a></li>
                            <li><a href="#">소메뉴4</a></li>
                            <li><a href="#">소메뉴5</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="fake"></div>
        </div>
    </header>