*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol,dl{
    list-style: none;
}
#openBtn{
    display: block;
    font-size: 2em;
    background-color: #fff;
    color: #000;
    text-align: center;
    line-height: 2;
    width: 20%;
    border: 0;
    margin: 100px auto 0;
    box-shadow: 0 0 10px;
    cursor: pointer;
}
#popupBox{
    width: 640px;
    height: 480px;
    background-color: #fff;
    border: solid 1px #333;
    margin: 0 auto;
    position: fixed;
    top: calc(50% - 240px);
    left: calc(50% - 320px);
    text-align: right;
    display: none;

}
#popupBox span{
    display: inline-block;
    font-size: 2em;
    cursor: pointer;
    padding: 30px;
}
#popupBox p{
    margin-top: 100px;
    text-align: center;
}
.pop{
    display: block !important;
}